.idea/misc.xml
.idea/modules.xml
.idea/python.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/my_utils.cpython-39.pyc

.idea/.name

.idea/

*.pyc

private.py